# Dependencies
/node_modules
apps/*/node_modules
packages/*/node_modules

# Next.js build
/.next
apps/*/.next

# Production builds
/build
/out

# Coverage
/coverage

# Foundry Build artifacts
packages/contracts/artifacts/
packages/contracts/forge-cache/
packages/contracts/out/
packages/contracts/broadcast/

# Foundry test reports and coverage
packages/contracts/lcov-report/
packages/contracts/coverage.json

# Misc
.DS_Store
*.pem
.vscode/
.idea/
*.swp
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local
.env.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Yarn
.yarn


